@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: Arial, Helvetica, sans-serif;
  overflow: hidden;
}

.typing-text{
  color:#00FF9C;
  position: relative;

}
.typing-animation:before{
  content:"";
  position: absolute;
  top:0;
  left:0;
  height: 100%;
  width: 60%;
  background-color: #1e1e1e;
  border-left: 2px solid #00FF9C;
  animation: animate 4s steps(10) infinite;
}
@keyframes animate{
  40%,60%{
    left: 60%;
  }
  100%{
    left: 0%;
  }
}

/* atom animation */
.sphere{
  width: 400px;
  height: 400px;
  border: 4px dotted #fff;
  border-radius: 50%;
  position: relative;
  transform-style: preserve-3d;
  -ms-transform-style: none;
  transition: transform 0.5s;
}

.sphere:before, .sphere:after{
  width: 400px;
  height: 400px;
  border: 2px dotted #fff;
  border-radius: 50%;
  content:"";
  left:0;
  top:0;
  position: absolute;
  opacity: 0; 
  transition: opacity 0.3s;
}
.sphere:before{
  transform: rotateX(-66.66deg);
}

.sphere:after{
  transform: rotateX(66.66deg);
}
.sphere:hover{
  animation: spin 15s linear infinite;
}
.sphere:hover:before, .sphere:hover:after{
  opacity: 1;
}
/* @keyframes spin{
  0%{
    transform: rotateX(1deg) rotateY(1deg) rotateZ(1deg);
  }
  100%{
    transform: rotateX(360deg) rotateY(360deg) rotateZ(360deg);
  }
} */

